$breakpoint-mobile-small: 480px;
$breakpoint-mobile-large: 768px;
$breakpoint-tablet: 1024px;
$green-primary: rgb(0, 229, 160);
$green-light: rgba(16, 97, 73, 0.15);

.About{
  width: 90%;
  margin: auto;
  font-family: 'Mulish', sans-serif;

  &__Title{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    border: $green-primary 2px solid;
    color: $green-primary ;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }

  &__Logo{
    font-size: 2rem;
    border: $green-primary 2px solid;
    color:$green-primary;
    background-color: rgba(16, 97, 73, 0.15);
    box-shadow: 1px 1px 20px rgb(0, 229, 160,0.8);
    border-radius: 50%;
    padding: 30px;
  }
  &__Container{
    display: flex;
    flex-wrap: wrap;        
    gap: 2vw;                    
    align-items: start;  

  }
  &__TitleCtn{
    color: white;
    margin: 0;
  }
  &__TitleCtnNom{
    color: $green-primary;
  }
  &__BannerRh{
    display: inline-block;   
    padding: 10px 20px;      
    border: 2px solid $green-primary;
    color: rgb(0, 229, 160);
    border-radius: 5px;
  }

  &__Cards{
    width: 100%;
    padding-top: 5vh;
    ul{
      display: flex;
      margin: auto;
      padding: 0;
      gap:2vw;      
    }
    ul li {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
    background-color: rgb(128, 128, 128,0.1);
    border: 1px solid rgb(128, 128, 128,0.8) ;
    border-radius: 10px;
    }

    ul li:hover{
      background-color:rgba($green-primary, 0.2); ;
      border: 1px solid rgba($green-primary, 0.8) ;
    }
    ul li h3{
      color:$green-primary;
      font-size: 4rem;
      margin: 0;

    }
  }

}
