@use '../../styleGlobal/variables' as *;

.About{
  width: 90%;
  margin: auto;
  font-family: 'Mulish', sans-serif;

  &__Title{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    border: $green-primary 2px solid;
    color: $green-primary ;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }

  &__Logo{
    font-size: 2rem;
    border: $green-primary 2px solid;
    color:$green-primary;
    background-color: $green-light;
    box-shadow: 1px 1px 20px rgb(0, 229, 160,0.8);
    border-radius: 50%;
    padding: 30px;
  }
  &__Container{
    display: flex;
    flex-wrap: wrap;        
    gap: 2vw;                    
    align-items: start;  

  }
  &__TitleCtn{
    color: white;
    margin: 0;
  }
  &__TitleCtnNom{
    color: $green-primary;
  }
  &__TitleRole{
    font-size: 1.17rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__BannerRh{
    display: inline-block;   
    padding: 10px 20px;      
    border: 2px solid $green-primary;
    color: $green-primary;
    border-radius: 5px;
  }

  &__Cards{
    width: 100%;
    padding-top: 5vh;
    ul{
      display: flex;
      margin: auto;
      padding: 0;
      gap:2vw;      
    }
    ul li {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
    background-color: rgb(128, 128, 128,0.1);
    border: 1px solid rgb(128, 128, 128,0.8) ;
    border-radius: 10px;
    }

    ul li:hover{
      background-color:rgba($green-primary, 0.2); ;
      border: 1px solid rgba($green-primary, 0.8) ;
    }
    ul li .About__CardsNumber{
      color:$green-primary;
      font-size: 4rem;
      font-weight: 700;
      margin: 0;
    }
  }
  &__CtnParcours{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  &__Parcours {
    width: 50%;

  }
  &__Parcours ul{
    list-style-type: none;
  }
  &__Motivation{
    width: 50%;
  }
  &__Motivation ul{
    list-style-type: none;
  }

  @media (max-width: $breakpoint-mobile-large) {
    &__CtnParcours{
      flex-direction: column;
    }
    &__Parcours,
    &__Motivation{
      width: 100%;
    }
    &__Parcours ul,
    &__Motivation ul{
      padding-left: 0;
    }
    &__Cards ul{
      flex-wrap: wrap;
    }
  }
}
