$breakpoint-mobile-small: 480px;
$breakpoint-mobile-large: 767px;
$breakpoint-tablet: 1024px;


.Carousel { 
    height: calc(20vw + 20vh);
    width: 50vw;
    display: flex;

    &__Image {
        width: 100%;
        border-radius: 25px;

    }

    &__Dots {
        display: flex;
        padding: 7vw 12vw;
        gap: 1vh;
    }

    &__Button {    
        background: transparent;
        border: none;   
        img{
            width: 4vw;
        }            
    }
}
.NavContainer{
    margin-bottom: 100px;
}
.carouselBox {
    display: flex;
    position: relative;
    align-items: center;
    height: 57vw;
    &__blocText {
        position: relative;
    }
    &__title {
        font-size: calc(1vh + 2vw);
        background: linear-gradient(180deg, #089FE0, #0FAE62); 
        background-clip: text; 
        -webkit-background-clip: text; 
        color: transparent; 
        -webkit-text-fill-color: transparent;
        font-family: "roboto", sans-serif;
        padding-left: 4.5vw;
        margin: 0;
    }
    &__description {
        padding: 0 6vw;
        text-align: justify;
        font-family: "roboto", sans-serif;
        width: 30vw;
        height: 17vw;
        font-size: 1vw;
    }
    &__date{
        padding: 0 6vw;
        position: absolute;

    }
    &__details {
        padding: 0 6vw;  
        font-size: 30px;
        font-family: "roboto", sans-serif;
    }
    &__sidebar{
        width: 43%;
    }
    &__link{
        position: absolute;
        bottom: 35%;
        top:65%;
        left: 15%;
        a{
        color:white;
    }
    }
}

@media (max-width: $breakpoint-tablet) {
    .carouselBox{
        &__details{
            padding: 0 6vw;
            font-size: 20px;
        }
        &__description{
            font-size: 12px;
            overflow: auto;
        }
    }
}


@media (max-width: $breakpoint-mobile-large) {
.carouselBox{
    &__title{
        top:0;
    }
    &__details{
        font-size: 15px;
    }   
    }
}

@media (max-width: $breakpoint-mobile-small) {
    .carouselBox{
        flex-direction: column;
        height: 100vh;        
        &__title{
            width: 24vh;
            padding-top: 2.2vh
        }
        &__details{
            font-size: 20px;
        }
        &__description{
        padding: 0;
        width: 66vw;
        height: 38vw
        }
        &__sidebar{
            width: auto;
            order: 2;
        }
        &__date{
            font-size: 8px;
        }
    }
    .Carousel{     
        margin-top: 9vh;   
        width: 67%;
        height: 30vh;
        order:1;
        &__Dots{
            justify-content: center;
            padding: 3vh 0 ;
        }
    }
    .Carousel__Button img {
        width: 8vw;
    }
}