$breakpoint-mobile-small: 480px;
$breakpoint-mobile-large: 767px;
$breakpoint-tablet: 1024px;

.background__projet{
    background-image: url('../../assets/design_projet_Plandetravail1.svg');
    width: 100vw;
    background-repeat: no-repeat;
}


  @media (max-width: $breakpoint-tablet) {
    
  }

  @media (max-width: $breakpoint-mobile-large) {
    
  }

  @media (max-width: $breakpoint-mobile-small) {
    .background__projet{
    background-image: url('../../assets/design_projet_vertical_Plandetravail1.svg');
    height: 100vh;
    }
  }
