.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  top: -80px;
  gap: 2.5vw;

  h2 {
    display: flex;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__names,
  &__mails {
    display: flex;
    flex-direction: column; 
    gap: 2.5vw;
    width: 100%;

    .formulaire {
      position: relative; 

      &__label {
        position: absolute;
        top: 10px;
      }

      &__input {
        width: 100%;
        resize: none;
        border: 2px solid white;
        border-radius: 10px;
        background-color: transparent;
        padding: 10px;
      }
    }
  }

  &__names {
    flex-direction: row; 
    gap: 10px;
  }
}

.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
}