body {
  margin: 0;
  padding: 0;
  color: blue;
}

.home-background {
  background: url('./fond_home_Plan\ de\ travail\ 1.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.realisation-background {
  background: url('./background\ realisations_Plan\ de\ travail\ 1.svg');
  background-size: cover;
  background-repeat: no-repeat;
}