$breakpoint-mobile-small: 480px;
$breakpoint-mobile-large: 768px;
$breakpoint-tablet: 1024px;

.home{
    padding-left: 10vh;
}
.description {
    display: flex;       
    flex-direction: column;  
    font-family: 'mulish', sans-serif;
    align-items: flex-start;
    padding-top:6vh;

    &__subtitle {
        order: -1;
        margin: 0;
        font-weight: 400;
        font-size: 35px;
    }
      
    &__title {
        order: 0;
        background: linear-gradient(90deg, #089FE0, #0FAE62); 
        background-clip: text; 
        -webkit-background-clip: text; 
        color: transparent; 
        -webkit-text-fill-color: transparent; 
        font-size: 90px; 
        font-weight: 900;
        margin: 0;
        padding: 0;
        line-height: 1;
        transform: translateX(-6px);
    }

    &__text{
        font-size: clamp(0.8rem, 2vw, 1rem);
        text-align: justify;
        width: 40%;
    }  
  }
  
  .skill__title {
    margin-top: 20px;
    margin-bottom: 0;
    background: linear-gradient(90deg, #089FE0, #0FAE62); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-size: 55px; 
    font-weight: 900;
    font-family: 'Mulish', sans-serif;
}

@media (max-width: $breakpoint-tablet) {
    .description {
        font-size: 25px;

        &__subtitle {
            font-size: 25px;    
        }

        &__title {
            font-size: 60px;
        }

        &__text {
            width: 60%;
        }
    }
}

@media (max-width: $breakpoint-mobile-large) {
    .description {
        &__text {
            width: 80%;
        }
    }
}

@media (max-width: $breakpoint-mobile-small) {
    .home{
        padding: 0;
    }

    .description {
        align-items: center;

        &__subtitle {
            padding: 10px;
        }

        &__title {
            font-size: 46px;
            text-align: center;
        }
    }

    .skill__title {
        background-size: auto;
        text-align: center;
        font-size: 40px;
    }
}