$breakpoint-mobile-small: 480px;
$breakpoint-mobile-large: 768px;
$breakpoint-tablet: 1024px;



body {
  margin: 0;
  color: white;
  overflow-x: hidden;
}

.home-background {
  background-color: black;
  background: url('../assets/test_fond_home_Plan\ de\ travail\ 1.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.realisation-background {
  background-color: black;
  background: url('../assets/background\ realisations_Plan\ de\ travail\ 1.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: $breakpoint-tablet) {

}

@media (max-width: $breakpoint-mobile-large) {
 
}

@media (max-width: $breakpoint-mobile-small) {

  .home-background {
    background-position: left ;
    margin-bottom: 30px;
  }
}