@use 'variables' as *;



body {
  margin: 0;
  color: white;
  overflow-x: hidden;
}

.home-background {
  background-color: black;
  background: url('../assets/fondHome.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.realisation-background {
  background-color: black;
  background: url('../assets/background\ realisations_Plan\ de\ travail\ 1.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: $breakpoint-tablet) {

}

@media (max-width: $breakpoint-mobile-large) {
 
}

@media (max-width: $breakpoint-mobile-small) {

  .home-background {
    margin-bottom: 26vh;
  }
}
// Contenu réservé aux lecteurs d'écran
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
