$breakpoint-mobile-small: 480px;
$breakpoint-mobile-large: 768px;
$breakpoint-tablet: 1024px;

.NavContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 3vh 3vh;
  margin: auto;
  position: fixed;
  width: 100%;
  background: linear-gradient(90deg, rgba(30, 23, 80, 0.6), rgba(91, 19, 19, 0.6));
  z-index: 2;
  top:0;
  img{
    height: 10vh;
  }
  &__box{
    padding-top: 8vh;
    padding-left: 0;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    display:flex;
    gap:40px;
    flex-direction: column;

      &__link{
        text-decoration: none;
        color: white;
        background: none;
        border:none;
        font-size: 2.5vh;
        font-weight: 800;
        font-family: 'mulish',sans-serif;
        padding: 0;
      }
    }
  &__BurgerButton{
  height: 3vh;
  cursor: pointer;
  }
}

.NavContainer::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px; 
  background: linear-gradient(to right, 
    rgba(255, 255, 255, 0) 0%, 
    rgba(255, 255, 255, 1) 25%, 
    rgba(255, 255, 255, 1) 75%, 
    rgba(255, 255, 255, 0) 100%);
  clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.Logo{
  text-decoration: none;
  color: black;
  font-family:'Roboto', sans-serif;
  font-size: 31px;
  font-weight: 800;
  color: white;
  }


  @media (max-width: $breakpoint-tablet) {
    .NavContainer {
      margin-bottom: 80px;
      &__box{
        &__link{
        font-size: 2vh;
      }
    } 
  }
     .Logo {
      font-size: 20px;
    }
  }
  
  @media (max-width: $breakpoint-mobile-large) {
    .NavContainer{
      &__box {
        &__link{
          font-size: 1.5vh;
        }
      }
    }
  }
  
  @media (max-width: $breakpoint-mobile-small) {
    .NavContainer {
      justify-content: space-around;
      margin-bottom: 40px;
    }
  
    .Logo {
      display: none;
    }
  }

