$breakpoint-mobile-small: 480px;
$breakpoint-mobile-large: 768px;
$breakpoint-tablet: 1024px;

.NavContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vh 3vh;
  position: sticky;
  top:0;
  background: linear-gradient(90deg, rgba(30, 23, 80, 0.6), rgba(91, 19, 19, 0.6));
  z-index: 2;
  img{
    height: 10vh;
  }
      &__link{
        text-decoration: none;
        color: white;
        background: none;
        border:none;
        font-size: 2.5vh;
        font-weight: 800;
        font-family: 'mulish',sans-serif;
        padding: 0;
      }
    }


.NavContainer::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px; 
  background: linear-gradient(to right, 
    rgba(255, 255, 255, 0) 0%, 
    rgba(255, 255, 255, 1) 25%, 
    rgba(255, 255, 255, 1) 75%, 
    rgba(255, 255, 255, 0) 100%);
  clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}
.NavBar{
  list-style: none;
  display: flex;
}

.Logo{
  text-decoration: none;
  color: black;
  font-family:'Roboto', sans-serif;
  font-size: 31px;
  font-weight: 800;
  color: white;
  }


  @media (max-width: $breakpoint-tablet) {
    .NavContainer {
        &__link{
        font-size: 1.5vh;
    } 
  }
    .Logo {
      font-size: 20px;
    }
  }
    .NavBar{
      gap:4vh;

  }
  @media (max-width: $breakpoint-mobile-large) {
    .NavContainer{

        &__link{
          font-size: 4vh;
        }
    }
  }
  
  @media (max-width: $breakpoint-mobile-small) {
    .NavContainer {
      flex-direction: column;
      text-align: center;
      position: relative;
       &__link{
        justify-content: center;
        font-size: 2vh;
      }           
    }
    .NavBar{
      justify-content: center;
      flex-direction: column;
    }
  
    .Logo {
      display: none;
    }
  }

