$breakpoint-mobile-small: 480px;
$breakpoint-mobile-large: 768px;
$breakpoint-tablet: 1024px;

.realisation{
    font-family: 'mulish', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 5vh;   

    &__title{
        font-size: calc(3vh + 2vw);
        background: linear-gradient(180deg, #089FE0, #0FAE62); 
        background-clip: text; 
        -webkit-background-clip: text; 
        color: transparent; 
        -webkit-text-fill-color: transparent;
        font-family: "roboto", sans-serif;
        padding-top: 15vh;
    }
} 
.cards{
    &__list{
    display: flex;
    list-style: none;
    gap: 25px;
    flex-wrap: wrap;  
    padding: 0;  
    li{ 
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        width: 21.5%;
        background-color:rgb(0, 247, 255, 0.1);
        padding: 20px;
        border-radius: 25px;
        border: rgb(0, 225, 233) 2px solid;
        box-shadow: 0px 0px 20px rgba(0, 247, 255, 0.6);
    }
    li:hover{
        transform: scale(1.05); /* Agrandit légèrement l'élément */
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
    }
    &__card{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }
    &__icons{
        font-size: 15vh;
    }
    
    }
}

  @media (max-width: $breakpoint-tablet) {
    .cards{
        &__list{
            gap:24px;
            li{
                width: 27%;
            }
        }
    }

  }

  @media (max-width: $breakpoint-mobile-large) {
    .cards{
        &__list{
            gap:31px;
            li{
                width: 41%;
            }
        }
    }
  }

  @media (max-width: $breakpoint-mobile-small) {
    .cards{
        &__list{
            gap:31px;
            li{
                width: 100%;
            }
        }
    }
  }
    
