$breakpoint-mobile-small: 480px;
$breakpoint-mobile-large: 767px;
$breakpoint-tablet: 1024px;

.circle{
  &__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vh;
  height: auto;
  text-align: center;
  flex-wrap: wrap;
}

  &__progress-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

  &__progress-wrapper svg {
    width: 100%;
    height: 100%;
}

  &__progress-foreground {
    stroke: url(#gradient); /* Couleur avec gradient */
    stroke-width: 18;
    stroke-linecap:butt; /* Arrondir le tracé pour un effet smooth */
 
}

  &__percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 41px;
    font-weight: 600;
    color: white;
  }
}

.circles{
  &__container{
    display: flex;
    gap: 40px;
    font-family: 'roboto', sans-serif;
  }
  &__wrapper{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  &__name{
    font-size: 28px;
    font-family: 'roboto',sans-serif;
  }
}

@media (max-width: $breakpoint-tablet) {
  .circle__container {
    width: 12vh;
  }

  .circle__percentage {
    font-size: 30px;
  }

  .circles__container {
    gap: 20px;
  }
  .circles__name{
    font-size: 19px;
  }
}

@media (max-width: $breakpoint-mobile-large) {
  .circle{
    &__percentage {
    font-size: 18px;
    }
  }
  .circles__name{
    font-size: 19px;
  }
  
}

@media (max-width: $breakpoint-mobile-small) {
  .circle__container {
    width: 6vh;
  }

  .circles__container {
    justify-content: center;
  }

  .circles__name {
    font-size: 12px;
  }
}
